<div *ngIf="loggedInUser == user">
  <div *ngIf="!editUser && loggedInUser && !newAddress">
    <div class="col-15 col-md-12 col-lg-8">
      <div class="card bg-transparent" style="margin-bottom: 10px">
        <img [src]="loggedInUser.photoUrl" (click)="setEditUser()" height="200px" width="200px" />
        <h3>{{loggedInUser.username}}</h3>
      </div>
      <button class="btn btn-outline-dark" (click)="setEditUser()">Edit Profile</button>
    </div>
    Created: {{loggedInUser.createDate}} <br>
    Name: {{loggedInUser.firstName}} <br>
    Located at: {{loggedInUser.address?.city}}, {{loggedInUser.address?.state}}<br>
    Last Updated: {{loggedInUser.updateDate}}
    <table class="table-responsive">
      <thead>
        <th>
          Favorite Teams:
        </th>
      </thead>
      <tr>
        <td *ngFor="let favorite of loggedInUser.favoriteTeams"><img src="{{favorite.logoUrl}}" height="100px" width="100%"></td>
      </tr>
    </table>


    <table class="table-responsive" >
      <thead>
        <th>
          Following:
        </th>
      </thead>

      <tr *ngFor="let friend of loggedInUser.friends">
        <td >
          <a [routerLink]="['/users/' + friend.friend.id]"><img id="friends" [src]=friend.friend.photoUrl height="100px" width="100px"></a>

        </td>
      </tr>
    </table>
  </div>


  <button class="btn btn-outline-dark" (click)="setEditUser()">Edit</button>



  <div *ngIf="editUser && editAddress.id == 0" class="container">
    <form id="updateUser">
      <label for="firstName">Name</label>
      <input class="form-control" type="text" name="firstName" [(ngModel)]="editUser.firstName">

      <label for="photoUrl">Profile Url</label>
      <input class="form-control" type="text" name="photoUrl" [(ngModel)]="editUser.photoUrl">

    <button class="btn btn-outline-dark" type="submit"  (click)="updateUser(editUser)">Save</button>



    <button *ngIf="loggedInUser.address?.id != 1 || loggedInUser.username == 'admin'" class="btn btn-outline-dark" type="submit"  (click)="setEditAddress()">Edit Address</button>
    <button *ngIf="loggedInUser.address?.id == 1 && loggedInUser.username != 'admin'" class="btn btn-outline-dark" type="submit"  (click)="displayAddAddress()">Add address</button>
    <button class="btn btn-outline-dark" type="submit" (click)="editUser = null">Cancel</button>

    </form>

  <button class="btn btn-outline-danger" (click)="deleteUser(loggedInUser.id)">Delete Account</button>


</div>

<div *ngIf="newAddress">
  <label for="street">Street</label>
  <input class="form-control" type="text" name="street" [(ngModel)]="newAddress.street">

  <label for="city">City</label>
  <input class="form-control" type="text" name="city" [(ngModel)]="newAddress.city">

  <label for="state">State</label>
  <input class="form-control" type="text" name="state" [(ngModel)]="newAddress.state">

  <label for="zip">Zip</label>
  <input class="form-control" type="text" name="zip" [(ngModel)]="newAddress.zip">

  <button class="btn btn-success" type="submit"  (click)="addAddress(newAddress)">Save</button>

  <button class="btn btn-danger" type="submit" (click)="newAddress = null">Cancel</button>

  </div>



<div *ngIf="editAddress.id != 0">
  <label for="street">Street</label>

  <input class="form-control" type="text" name="street" [(ngModel)]="editAddress.street">

    <label for="city">City</label>
    <input class="form-control" type="text" name="city" [(ngModel)]="editAddress.city">

    <label for="state">State</label>
    <input class="form-control" type="text" name="state" [(ngModel)]="editAddress.state">

    <label for="zip">Zip</label>
    <input class="form-control" type="text" name="zip" [(ngModel)]="editAddress.zip">

    <button class="btn btn-success" type="submit" (click)="updateAddress(editAddress)">Save</button>

    <button class="btn btn-danger" type="submit" (click)="clearEditAddress()">Cancel</button>
  </div>



</div>
<div *ngIf="user.id != loggedInUser.id">
  <table>
    <td>
  <div class="col">
    <div class="card bg-transparent" style="margin-bottom: 10px" >
      <img [src]="user.photoUrl"  height="200px" width="200px"/>
      <h3>{{user.username}}</h3>
    </div>
  </div>
  Created: {{user.createDate}} <br>
  Name: {{user.firstName}} <br>
  <div *ngIf="user.address?.id != 1">
  Located at: {{user.address?.city}}, {{user.address?.state}}<br>
  </div>
  <hr>
  lastUpdated: {{loggedInUser.updateDate}}
</td>
<table>

    <table>

      <tr *ngIf="newMessage.sender.id != 0 && editMessage.id == 0">
        <td><textarea [(ngModel)]="newMessage.content"></textarea></td>
        <td><button class="btn btn-primary" (click)="addMessage(newMessage)">Send</button></td>
      </tr>

      <tr *ngIf="editMessage.id != 0">
        <td><textarea [(ngModel)]="editMessage.content"></textarea></td>
        <td><button class="btn btn-primary" (click)="updateMessage(editMessage)">Update</button></td>
        <td><button class="btn btn-danger" (click)="editMessage = newMessage">Cancel</button></td>
      </tr>

      <div *ngFor="let message of messages">
        <tr>
          <div *ngIf="loggedInUser.id === message.sender.id">
            <td><a (click)="setEditMessage(message)" class="btn btn-outline-dark">Edit</a></td>
          <td><a (click)="deleteMessage(message.id)" class="btn btn-outline-danger">X</a></td>
          </div>

          <td>Sent On - {{message.createDate }}</td>
          <td class="align-right text-center"><img src="{{message.sender.photoUrl}}" class="rounded" height="20%"
            width="20%"></td>
            <td class="sender"><strong>{{message.sender.username}}:</strong></td>
            <td>{{message.content }}</td>
          </tr>
        </div>
        <tr *ngIf="newMessage.sender.id == 0 && editMessage.id == 0">
          <td><button class="btn btn-primary" (click)="displayAddMessage()">Create Message</button></td>
        </tr>
    </table>



<br>
      <button *ngIf="!isFriend()" class="btn btn-outline-dark" (click)="addFriend(user.id)">Follow</button>
      <button *ngIf="isFriend()" class="btn btn-outline-dark" (click)="removeFriend(user.id)">Unfollow</button>


  <div class="table-responsive">
    <table class="table">
      <tr>
        <td *ngFor="let friend of friends">
          <img id="friend" [src]=friend.user.photoUrl height="100px" width="100px">
        </td>
      </tr>
    </table>
  </div>

  <br>
