/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: darkgray;
}

hr{
  border-color: #000000;
}

a{
   text-decoration: none;
   color: rgb(242, 245, 242);
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}


.column {
  float: left;
  width: 10%;
  /* padding: 1px; */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.table{
  width: 100px;

}


#partyPeople{

  background-color: #d8f0da00;

}

