
<h1 *ngIf="!selectedTeam">Teams</h1>

<div class="container" *ngIf="!selectedTeam && !addNewTeam">
  <div class="row" *ngFor="let team of teams">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-transparent" style="margin-bottom: 10px" >
        <img [src]="team.logoUrl" (click)="displayTeam(team)"/>
        <h3 class="card-name" > <a href="/#/teams/{{team.id}}">{{team.name}}</a> </h3>
      </div>
    </div>
  </div>
  <button *ngIf="loggedIn()" (click)="displayTeam(newTeam)" class="btn btn-success">Add</button>
</div>

<div *ngIf="selectedTeam && !editTeam ">
  <button class="btn btn-warning" (click)="displayAllTeams()">Back</button>
  <button *ngIf="loggedIn()" class="btn btn-outline-primary" type="submit"  (click)="setEditTeam()">Edit</button>

  <button *ngIf="loggedIn()" (click)="deleteTeam(selectedTeam.id)" class="btn btn-danger">Delete</button>

  <p>
    ID: {{selectedTeam.id}}
   </p>
   <h3>
     {{selectedTeam.name}}
   </h3>
   <p>
     Sport: {{selectedTeam.sport?.name}}
   </p>
   <p>
     Team Website: {{selectedTeam.teamWebsiteUrl}}
    </p>
    <img [src]="selectedTeam.logoUrl">
    <br>
 </div>

 <div *ngIf="editTeam" class="container" >
  <form id="updateTeam" name="updateTeamForm">
    <div class="input-group">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" [(ngModel)]="editTeam.name" >
    <br>
    <label for="logoUrl">Logo Url</label>
    <input class="form-control" type="text" name="imageUrl" [(ngModel)]="editTeam.logoUrl" >
    <br>
    <label for="teamWebsiteUrl">Team Website</label>
    <input class="form-control" type="text" name="teamWebsiteUrl" [(ngModel)]="editTeam.teamWebsiteUrl" >
    <br>
    <label for="sport">Sport</label>
    <input class="form-control" type="text" name="sport" [(ngModel)]="editTeam.sport" >
    <br>
  </div>
    <button class="btn btn-success" type="submit"  (click)="updateTeam(editTeam, editTeam.id)">Save</button>
    <button class="btn btn-danger" type="submit" (click)="editTeam = null">Cancel</button>
  </form>
</div>

<div *ngIf="addNewTeam && !selectedTeam && !editTeam">
  <form name="newTeamForm">
    <div class="input-group">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" [(ngModel)]="newTeam.name" >
    <br>
    <label for="logoUrl">Logo Url</label>
    <input class="form-control" type="text" name="logoUrl" [(ngModel)]="newTeam.logoUrl" >
    <br>
    <label for="teamWebsiteUrl">Team Website</label>
    <input class="form-control" type="text" name="teamWebsiteUrl" [(ngModel)]="newTeam.teamWebsiteUrl" >
    <br>
    <label for="sport">Sport</label>
    <input class="form-control" type="text" name="sport" [(ngModel)]="newTeam.sport" >
    <br>
    <button class="btn btn-success" type="submit"  (click)="addTeam(newTeam)">Save</button>
    <button class="btn btn-danger" type="submit" (click)="addNewTeam = null">Cancel</button>
  </div>



